nav, header, div {
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  border-bottom: 1px solid lightgray;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav > img {
  width: 80px;
  height: 80px;
}

.leftnav > div {
  font-size: 22px;
  padding-left: 10px;
}

.rightnav {
  display: flex;
}

.rightnav > div {
  padding-left: 30px;
}