
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  border-bottom: 1px solid lightgray;
}

.leftnav {
  display: flex;
  align-items: center;
}

.leftnav > img {
  width: 80px;
  height: 80px;
}

.leftnav > div {
  font-size: 22px;
  padding-left: 10px;
}

.rightnav {
  display: flex;
}

.rightnav > a {
  padding-left: 30px;
  font-size: 18px;
}

.rightnav > a.selected, .rightnav > a:hover {
  color: #3498DB;
}

.rightnav > div {
  padding-left: 30px;
}

.footer {
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 15px 0px;
  line-height: 2;
}

i {
  margin: 0px 10px;
  color: #3498DB;
}

.copyright {
  background-color: #85929E;
  color: #ffffff;
  margin: 20px 0px;
}

.overview {
  text-align: center;
  padding: 180px 0px;
  background-image: url(./images/nyc.jpeg);
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.overviewheader {
  font-size: 54px;
  padding-bottom: 20px;
}

.overviewcaption {
  font-size: 32px;
  line-height: 1.5;
}

.research {
  text-align: center;
  margin: 50px 200px;
}

.research > div, .homeimage > div > div {
  font-size: 40px;
}
.research > p , .homeimage > div > p {
  line-height: 1.5;
  font-size: 24px;
}

.homeimage {
  text-align: center;
  background-image: url(./images/home.jpg);
  padding-top: 400px;
  margin: 0px 200px;
  background-repeat: no-repeat;
}

.homeimage > div {
  background-color: #F8F9F9;
  padding: 50px 40px;
}

.story {
  display: flex;
  margin: 0px 200px;
}

.story > div {
  padding: 50px 70px;
  text-align: center;
  line-height: 1.5;
} 

.story > div > div {
  font-size: 40px;
}

.APTA {
  text-align: center;
  background-color: #F8F9F9;
}

.services {
  margin: 0px 200px;
}

.servicesmovement {
  display: flex;
  flex-direction: row;
}

.seniors {
  text-align: center;
  background-image: url(./images/couple2.jpg);
  padding-top: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance > div, .orthopedicheader {
    text-align: center;
    line-height: 2;
    font-size: 30px;
}

.balance > ul {
  /* margin: 0px 250px; */
  line-height: 1.5;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  padding-bottom: 20px;
}

.servicesimage {
  text-align: center;
  background-image: url(./images/seniors.jpg);
  padding-top: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

.orthopedicconditions {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-size: 22px;
}

.insurance {
  display: flex;
  padding: 0px 200px;
  background-color: #F8F9F9;
  border-top: 1px solid #ffffff;
  line-height: 1.5;
}

.insurancetype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.insurancetype > div {
  font-size: 30px;
}

.insurancetype > ul {
  line-height: 1.5;
  font-size: 20px;
}

.insurance > img {
  display: block;
  max-width: 450px;
  height: 380px;
}

.questions {
  margin: 0px 200px;
}

.questionheader {
  font-size: 40px;
  padding: 10px 0px;
}

.question {
  font-size: 30px;
  padding: 20px 0px;
}

.answer {
  font-size: 20px;
  line-height: 1.5;
}

.lastquestion {
  font-size: 32px;
  padding-top: 20px;
}

.contact {
  display: flex;
  padding: 0px 200px;
  background-color: #F8F9F9;
  line-height: 2.0;
}

.contact > img {
  display: block;
  max-width: 550px;
}

.contact > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.contactheader {
  font-size: 40px;
}

.contactinfo {
  padding: 10px 0px;
}
